body {
  margin: 0;
  background-color: #342B26;
}
header {
  height: 30px;
  background-color: #FFFFFF;
}
nav {
  height: 50px;
  background-color: #999999;
}
footer {
  height: 100px;
  background-color: #FF7101;
}
