body {
   margin: 0;
   background-color: #491edf;
}

.botao {
   color: #FFFFFF;
   background-color: #000000;
   border: 0px;
}
.range {
  background-color: #000000;
  border-radius: 15px;
}

/*.numb {
  background-color: #000000;
  border-radius: 15px;*/

}

/*.search {
    width: 700px;
    height: 500px;

    color: #FF0000;
    font-size: 20px;
    font-family:Helvetica,Verdana,Arial;
    font-weight:bold;
    text-align:center;
    text-decoration:underline;
    margin-bottom: 10px;

    margin:auto;
    margin-top:200px;
    padding-top:10px;
    margin-bottom: ;
    margin-right: ;
    margin-left:
    margin: ;*/
}
