body {
      background-color:#4b4b4b;
      color:#ffffff;
}
h1 {
    color:#000000;
}
#titulo {
         font-size: 60px;
}
.teste1 {
         background-color:#00ffff;
}

img {
     width: 300px;
}
.teste {
        width: 80px;

}
