body {
  background-color:#292929;
  color:#FFF"
  }
  #site {
  width: 100%;
  max-width:800px;
  margin: left;
}

#logoleft img {
  float: left;
}

.login {
  width: 250px;
  height: 220px;
  float: right;
  background-color: #000000;
  color:#848484;
  margin: center ;
  text-align:center;
  margin-top:180px;
  padding-top:30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 4px;
  position: fixed; /*Fixa o elemento nas coordenadas seguintes*/
       top: 2px;
      left: 750px;
}

.inserçãodados {
  width: 200px;
  color: #848484;
  background-color: #292929;
  text-align:center;
  margin: center ;
  border-radius: 3px;
  border-color: #292929;
  padding-top:4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

.botaoentrar {
  color: #848484;
  background-color: #292929;
  border-radius: 3px;
  border-color: #292929;
}

.termos {
  color: #848484;
  background-color: #292929;
  text-align:center;
  margin: center ;
  border-radius: 3px;
  border-color: #292929;
  padding-top:4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
}




@media only screen and (min-width:600px) and (max-width:900px) {


  #logoleft {
    width: 50%;
  }
  .login {
    width:100%;
    height:150px;
  }

}
@media only screen and (min-width:500px) and (max-width:800px){

    #site {
       width:500px;
   }
    #logoleft{
        width: 500px;
   }
    .login {
        width: 500px;
    }
}
/*Quando a largura chegar a menos que 400px*/
@media only screen and (max-width:500px){

   #id {
       width: 300px;
       height: 200px;
   }

   #logoleft {
        width: 100%;
   }

    .login {
        width: 100%;
   }
