/*
Código CSS
Como Fazer uma Imagem de Fundo Preencher a Tela Inteira
Autor: Guilherme Simi Müller
http://guilhermemuller.com.br

Este documento está licenciado sob:
http://creativecommons.org/licenses/by/3.0/deed.pt_BR
*/

/*
-- Estilos Reset
*/

* {
	margin: 0;
	padding: 0;
}

/*
-- Tipografia básica
*/

body {
	font-family: sans-serif;
}

h1 {
	margin-bottom: 0.5em;
}

p {
	margin-bottom: 1em;
}

/*
-- Estrutura
*/

#fundo-externo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#fundo {
	position: fixed;
	width: 100%;
	height: 100%;
}

#fundo img {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
}

#site {
	background: #FFF;
	background: rgba(255,255,255,0.8);
	position: absolute;
	top: 0;
	left: 50%;
	width: 560px;
	padding: 20px;
	margin-left: -300px;
	margin-top: 20px;
}