body {
   margin: 0;
}
.texto {
    width: 700px;
    height: 500px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 20px;
    font-family:Helvetica,Verdana,Arial;
    font-weight:bold;
    text-align:center;
    text-decoration:underline;

    margin:auto;
    margin-top: 30px;
    padding-top: 20px;
    margin-bottom:;
    margin-left:;
    margin-right:;
    margin: ;

}
