body {
   margin: 0;
}
.exemplo {
    width: 500px;
    height: 200px;
    background-color:blue;
    background: linear-gradient(-75deg,white,blue,red);

    /*
    background: -moz-linear-gradient(white,blue,red);
    background: -o-linear-gradient(white,blue,red);
    background: -webkit-linear-gradient(white,blue,red);
   */



}
