body {
  margin: 0;
  background-color: #292525;
}
.topo {
  width: 800px;
  height: 100px;
  background-color: #438dcd;
  margin:auto;
  color:#FFFFFF;
}
.logo {
  width: 50%;
  height: 100px;
  float: left;
  background-color: #0b599c;
  color:#FFFFFF;
}
.menu {
  width: 50%;
  height: 100px;
  float: left;
  background-color: #1b32a5;
  color:#FFFFFF;
}
.corpo {
  width: 800px;
  height: 200px;
  margin:auto;
  background-color: #1079e2;
  color:#FFFFFF;
}
.rodape {
  width: 800px;
  height: 100px;
  margin: auto;
  background-color: #080d73;
  color:#FFFFFF;
}

/*Quando a largura chegar entre 500px - 800px*/
@media only screen and (min-width:500px) and (max-width:800px){

   .topo {
       width:500px;
   }
   .corpo {
        width: 500px;
   }
    .rodape {
        width: 500px;
    }
}
/*Quando a largura chegar a menos que 400px*/
@media only screen and (max-width:500px){

   .topo {
       width: 300px;
       height: 200px;
   }

   .logo {
        width: 100%;
   }

    .menu {
        width: 100%;
   }

    .corpo {
        width:300px;
    }

    .rodape {
        width: 300px;
    }

}
