body {
   margin: 0;
}
.teste {
   background-color: #999999;
   color: #FFFFFF;
   width: 200px;
   height: 200px;
   border:20px solid #FF0000;
}
.teste1 {
   background-color: #999999;
   color: #FFFFFF;
   width: 200px;
   height: 200px;
   border:20px dotted #FF0000;
}
.teste2 {
   background-color: #999999;
   color: #FFFFFF;
   width: 200px;
   height: 200px;
   border:20px dashed #FF0000;
}
.teste3 {
   background-color: #999999;
   color: #FFFFFF;
   width: 200px;
   height: 200px;
   border:20px dashed #FF0000;
   border-radius:100PX;
}
img {
   border:20px solid #00FF00;
   border-radius: 15px;
}
