body {
  margin: 0;
  background-color: #980707;
}
.teste {
  width: 600px;
  height: 300px;
  color:#FFFFFF;
  background-color: #575757;
}

/*@media only screen and (max-width:500px) {
  .teste {
    background-color: #0f6ec0;
    }
}
*/
/*@media only screen and (min-width:700px) and (max-width:800px) {
  .teste {
    background-color: #0f6ec0;
    width: 00px;

    }

}*/

@media only screen and (orientation:landscape) {
  .teste {
    background-color: #0f6ec0;
    width: 500px;

    }

}
